@page "/CreatePost"
@using HttpClients.ClientInterfaces
@using Assignment1.DTOs
@using Assignment1.Models
@inject IUserService UserService
@inject IPostService PostService
@inject NavigationManager NavMgr
@attribute [Authorize]
@using System.Security.Claims
<div class="card">
     <h6>Create Post</h6>
        <div class="form-group field">
            
            <input type="text" placeholder="Title" @bind="_postTitle">
        </div>
        <div class="form-group field">
            <textarea placeholder="Write a post." @bind="_postBody"></textarea>
        </div>
        <div class="button-row">
            <button @onclick="Create" class="acceptbtn">Post</button>
        </div>
</div>
@code {
    private IEnumerable<Post>? _posts;
    private string _postTitle = "";
    private string _postBody = "";
    private string _msg = "";
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    private string? userName;
    private bool isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        _msg = "";
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal user = authState.User;
        isLoggedIn = user.Identity != null;
        
        if (!isLoggedIn) return;
        userName = user.Identity!.Name!;
        try
        {
            _posts = await PostService.GetAsync(null, null, null, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _msg = e.Message;
        }
        
    }

    private async Task Create()
    {
        _msg = "";
        if (string.IsNullOrEmpty(_postTitle))
        {
            _msg = "Title cannot be empty!";
            return;
        }
        if (string.IsNullOrEmpty(_postBody))
        {
            _msg = "Body cannot be empty!";
            return;
        }

        try
        {
            PostCreationDto dto = new(userName, _postTitle, _postBody);
            await PostService.CreateAsync(dto);
            _postTitle = "";
            _postBody = "";
            NavMgr.NavigateTo(NavMgr.Uri);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _msg = e.Message;
        }
    }
}